/* COMENTARIOS */
*{
    text-align: justify;
    font-family: 'Courier New', Courier, monospace; /* esto es para la fuente de la pag, mirar en w3c font css y ahi salen */
}
.container{
    width: 70%;
    margin: auto; /* para centrar la pag automatica */
    padding: 2px; /* todos los bordes toman eso, si solo quiere que sea especificar con left o rigth  */
    overflow: hidden;
}
.img img{
    width: 100%;
}
header{
    background-color: black;
    width: 100%;
}
header nav ul{ /* se hace esto en forma de cadena para editar lo qque aja */
    list-style: none; /* para quitar lod puntos de la lista de la cabecera */
    overflow: hidden;
    
}
header nav ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 16px 16px;
    color: white;
}
header nav ul li {
    float: left; /* para que la listas quden una al lado de la otra  */
    
}
header nav ul li a:hover{
    background-color: gray;
    border-radius: 5px;
}
footer{
    background-color: black;
    color: white;
    padding: 8px;
}
footer p{
    text-align: center;
}
